*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif, 'Courier New', monospace;
}

body, html{
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

